.feature__countdown_timer_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.feature__countdown_timer_item + .feature__countdown_timer_item {
    padding-left: 10px;
}

.feature__countdown_timer_value {
    font-size: 36px;
    line-height: 36px;
}

.feature__countdown_timer_label {
    font-size: 14px;
    line-height: 14px;
}