.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav__menu {
    padding: 1rem;
    width: 25rem;
    background: #fff;
    color: rgba(0, 0, 0, 0.87);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-12.5rem);
    transition: all 0.3s ease;
    z-index: 1;
    font-size: 1rem;
    line-height: 1rem;
    /* padding: 3rem; */
    box-sizing: border-box;
    overflow: auto;
}

.nav__item--selected {
    background: rgba(0,0,0,0.1);
}

.nav__menu li + li {
    padding-top: 1rem;
}

.tabs .tab {
    text-transform: none;
}

.nav-wrapper {
    justify-content: space-between;
    flex-wrap: nowrap;
}
.nav-wrapper, .nav__left {
    display: flex;
}

.material-icons:hover {
    cursor: pointer;
}

.nav__toggle {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.nav__toggle_icon {
    padding: 5px;
    box-sizing: border-box;
}
.nav__toggle_icon.material-icons {
    font-size: 36px;
    line-height: 36px;
}

@media screen and (min-width: 992px) {
    .nav__toggle {
        visibility: hidden;
    }
    .nav__link_container {
        display: flex;
    }
}